:root {
  --main-orange: #f5ab51;
  --orange-subtone: #dd9b4a;
  --secondary-orange: #ff9052;
  --cooper: #c36c3b;
  --english-walnut: #49312a;
  --dairy-cream: #f9dcc0;
  --tan: #d1a88c;
  --almost-black: #23272a;
  --grey-500: #fafaff;
  --main-font: "Nunito Sans";
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-orange);
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}
